{
    "START_POSITION": {
        "a8": "r",
        "b8": "n",
        "c8": "b",
        "d8": "s",
        "e8": "q",
        "f8": "k",
        "g8": "f",
        "h8": "b",
        "i8": "n",
        "j8": "r",
        "a7": "p",
        "b7": "p",
        "c7": "p",
        "d7": "p",
        "e7": "p",
        "f7": "p",
        "g7": "p",
        "h7": "p",
        "i7": "p",
        "j7": "p",
        "a2": "P",
        "b2": "P",
        "c2": "P",
        "d2": "P",
        "e2": "P",
        "f2": "P",
        "g2": "P",
        "h2": "P",
        "i2": "P",
        "j2": "P",
        "a1": "R",
        "b1": "N",
        "c1": "B",
        "d1": "S",
        "e1": "Q",
        "f1": "K",
        "g1": "F",
        "h1": "B",
        "i1": "N",
        "j1": "R"
    },
    "SHORT_NAME": {
        "R": "Rook",
        "N": "Knight",
        "Q": "Queen",
        "B": "Bishop",
        "P": "Pawn",
        "K": "King",
        "S": "Princess",
        "F": "Fool"
    },
    "NUM_ROWS": 8,
    "NUM_COLS": 10,
    "PIECE_NAME": {
        "Rook": "R",
        "Knight": "N",
        "Queen": "Q",
        "Bishop": "B",
        "Pawn": "P",
        "King": "K",
        "Princess": "S",
        "Fool": "F"
    },
    "X_AXIS_LABELS": [
        "a",
        "b",
        "c",
        "d",
        "e",
        "f",
        "g",
        "h",
        "i",
        "j"
    ],
    "Y_AXIS_LABELS": [
        "1",
        "2",
        "3",
        "4",
        "5",
        "6",
        "7",
        "8"
    ]
}
